div {
    display: block;
}

* {
    box-sizing: inherit;
}

@media (max-width: 1919px){
    .iqwyib {
        width: 1376px;
    }
}

@media (max-width: 1440px){
    .iqwyib {
        width: 1280px;
    }
}

@media (max-width: 1312px){
    .iqwyib {
        width: 912px;
    }
}

@media (max-width: 944px){
    .iqwyib {
        width: calc(100% - 2rem);
    }
}

@media (max-width: 767px){
    .iqwyib {
        width: calc(100% - 2rem);

    }
}

.iqwyib {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1919px){
    .iqwyib {
        width: 1376px;
    }
}

@media (max-width: 1440px){
    .iqwyib {
        width: 1280px;
    }
}


@media (max-width: 1312px){
    .iqwyib {
        width: 912px;
    }
}

.lpgbkm {
    display: flex;
    margin-top: 2rem;
}

.BAccj {
    flex: 1 1 0%;
}

.pDRpR {
    margin-left: 3rem;
    width: 12rem;
}


.gLLJLX {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1440px){
    .eyrfCG {
        width: 12rem;
    }
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.fNlsam h4 {
    line-height: 1.5;
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(233, 236, 239);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.wDGYV ul {
    list-style: none;
    padding: 0px;
}

.wDGYV ul {
    list-style: none;
    padding: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.fNlsam + .sc-fAjcbJ {
    margin-top: 4rem;
}

.kPSwsK ul {
    padding-left: 0px;
    list-style: none;
}