.table{
    min-width: 700;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.addBtn{
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: left;
}