.mainArea{
    min-height: '100%';
    font-size: '15px';
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media (max-width: 1024px){
    .kVIKkh {
        margin-top: 2rem;
    }
    .kVIKkh .head-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .kVIKkh h1 {
        font-size: 2.25rem;
    }
    .kVIKkh h1 {
        line-height: 1.5;
        letter-spacing: -0.004em;
        margin-top: 0px;
        font-weight: 800;
        color: rgb(52, 58, 64);
        margin-bottom: 2rem;
        word-break: keep-all;
    }
    * {
        box-sizing: inherit;
    }
    div {
        display: block;
    }
}

.efgoQf {
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(73, 80, 87);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

* {
    box-sizing: inherit;
}

div {
    display: block;
}

.efgoQf .information .separator {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.efgoQf .information .userEmail {
    color: rgb(52, 58, 64);
    font-weight: bold;
    font-size: 1rem;
}

.cAPLHZ {
    max-height: 100vh;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 2rem auto 0px;
}

@media (max-width: 1024px){
    .kMGsFz {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 5rem auto 0px;
    }
}

.fujwZh {
    font-size: 1.125rem;
    color: rgb(34, 36, 38);
    line-height: 1.7;
    letter-spacing: -0.004em;
    word-break: keep-all;
    overflow-wrap: break-word;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cGalOa {
    margin-top: 3rem;
    color: rgb(52, 58, 64);
}

.gXJKuQ {
    margin-left: auto;
    margin-right: auto;
}

.cGalOa h4 {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1rem;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}