.table{
    min-width: 700;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.addBtn{
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: left;
}

.gzELJz {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1rem;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(18, 184, 134);
    border-radius: 4px;
}