.menu__btn {
    float: left;
    height: 70px;
    margin-top: 5px;
  }

.listItem {
  color: black;
}

.menuItem {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: black;
  font-weight: bold;
}